*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Abel', sans-serif;
}

/*[class*="col-"] {
	border: 2px solid transparent;
}
*/


/*LANDING PAGE*/
.jumbotron hr{
	background-color: #fff; /*white*/
}


#jumbo-land{
	height: 100vh;
	padding-top: 20%;
	background-color: #333;
	border-radius: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-image: url("../images/bg.jpg");
}

.jumbotron h1 {
	color: #f2f2f2;
}

.btn{
	background-color: #3C1518; 
}

.btn a{
	text-decoration: none;
	font-size: 25px;
	color: white;
}

.btn:hover{
	background-color: #FBBA72;
	color: black;
}

.btn a:hover{
	color: black;
	background-color: #FBBA72;
}


.lead { /*p*/
	font-family: 'Satisfy', cursive;
	font-size: 50px;
	text-shadow: 2px 2px black;
	color: white;
}

/*end landing page*/




/*HOME PAGE*/

/*#carousel-home{
	height: 100vh;
}

#carousel-home img{
	width: 100vw;
	
}
*/

/*end home page*/

/*ABOUT*/
.img-vg{
	width: 100%;
	border-radius: 3%
}

.vg{
	min-height: 100vh;
}


/*end about*/

/*NAVBAR*/
.navbar{
	background-color: #3C1518;
}

.nav-link:hover{
	color: #FBBA72;
}

/*end navbar*/

/*IMAGES*/



/*CONTACTS*/
form{
	background-color: #3C1518;
	color: #FBBA72;
	border-radius: 2%;
}




/*end contact*/

/*PAINTINGS*/
h1{
	color: black;
	text-shadow: 2px 2px #FBBA72;
}

.img-fluid{
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

.card li{
	list-style-type: none; 
}

.card{
	min-height: 100%;
}

.modal-footer{
	background-color: white;
}

/*end paintings*/




/*FOOTER*/

footer{
	background-color: #3C1518;
	color: white;
	width: 100%;
	margin: 0;
	bottom: 0;
}

/*end footer*/

.modal-dialog{

}

.back{
	margin: 0;
	font-family: 'Archivo Black', sans-serif;
	font-size: 1rem;
	line-height: 1.5rem;
	color: white;
	overflow: hidden;

}

/*.video-header{
	height: 100vh;
	display: flex;
	align-items: center;
	color: aliceblue;
}

.wrap{
	max-width: 960px;
	padding-left: 2rem;
	padding-right: 2rem;
	margin: auto;
	text-align: center;
}

.fullscreen-video-wrap{
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;

}

.fullscreen-video-wrap{
	min-height: 100%;
	max-width:  100%;
}

.header-overlay{
	width: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(34, 33, 33, 0.52); 
	opacity: 0.00;
}


*/

.knockout-text-one{
	color: transparent;
	font-family: 'Archivo Black', sans-serif;
	background: url("../images/vg.gif") no-repeat;
	background-size: cover;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-size: 20vw;
	text-align: center;

}
