*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Abel', sans-serif;
	scroll-behavior: smooth;
}

/*[class*="col-"] {
	border: 2px solid transparent;
}
*/

/*LANDING PAGE*/

.landing{
	background-color: black;
	background-image: url("../images/starrynight2.gif")no-repeat;
	/*padding: 0;*/
	padding-top: 50px;
	margin: 0;
	height: 100vh;
}

.button{
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn-about{
	background-color: transparent;
	color: #cebb65;
	width: 50%;
	border: 2px solid #cebb65;
}

.btn-about:hover{
	background-color: #cebb65;
	color: black;
}

.knockout-text-one{
	color: transparent;
	font-family: 'Archivo Black', sans-serif;
	background: url("../images/starrynight2.gif")no-repeat;
	background-size: cover;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-size: 20vmin;
	text-align: center;
}

.container{
	background-color: white;
}

/*end landing page*/


/*ABOUT*/
.img-vg{
	width: 100%;
	border-radius: 3%
}

.vg{
	min-height: 100vh;
}
.about{
	font-size: 18px;
}

/*end about*/


/*NAVBAR*/
.navbar{
	/*background-color: #3C1518;*/
	background-color: #123f77;
}

.nav-link:hover{
	color: #FBBA72;
}

.navbar-brand{
	font-family: 'Caveat Brush', cursive;
}

/*end navbar*/



/*PAINTINGS*/
h1{
	color: black;
	text-shadow: 2px 2px #FBBA72;
}

.img-fluid{
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.card li{
	list-style-type: none; 
}

.card{
	min-height: 100%;
	margin-bottom: 100px;
}

.modal-footer{
	background-color: white;
}

/*end paintings*/


/*CONTACTS*/
form{
	/*background-color: #3C1518;*/
	color: #FBBA72;
	border-radius: 2%;
}

.btn-contact{
	background-color: transparent;
	color: #FBBA72;

}

.btn-contact:hover{
	background-color: #FBBA72;
	color: black;
}


/*end contact*/





/*FOOTER*/

footer{
	/*background-color: #3C1518;*/
	background-color: #123f77;
	color: white;
	width: 100%;
	margin: 0;
	bottom: 0;
}

/*end footer*/



/*.video-header{
	height: 100vh;
	display: flex;
	align-items: center;
	color: aliceblue;
}

.wrap{
	max-width: 960px;
	padding-left: 2rem;
	padding-right: 2rem;
	margin: auto;
	text-align: center;
}

.fullscreen-video-wrap{
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;

}

.fullscreen-video-wrap{
	min-height: 100%;
	max-width:  100%;
}

.header-overlay{
	width: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(34, 33, 33, 0.52); 
	opacity: 0.00;
}


*/

.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:17px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:50px 0 0;
padding:7px 14px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}


.fa-search-plus{
	color: white;

	font-size: 32px;
	position: absolute;
	opacity: 0.5;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.btn-g{
	/*background-color: #3C1518;
	color: #FBBA72;*/
	background-color: #123f77;
	color: #f5db37;
	border-radius: 10%;
	
}

.btn{
	/*color: #FBBA72;*/
	/*background-color: #3C1518;*/
	background-color: #123f77;
	color: #f5db37;

}

.btn:hover{
	background-color: #0f86b6;
	color: #3C1518;
}

.btn-g:hover{
	background-color: #FBBA72;
	color: #3C1518;
}

.img-fluid-modal{
	height: 100%;
	width: 100%;
}

.btn-down{
	background-color: transparent;
}

.img-down{
	width: 8%;
	height: 8%;
}









